openapi: 3.1.0
info:
  title: Kayak Simulation Distributed Services API
  version: 1.0.0
  description: |
    API specification for the Kayak-style distributed system. The platform exposes REST
    endpoints for user management, listings search, bookings, billing, admin operations,
    analytics, and the FastAPI-based agentic recommendation service. All synchronous
    operations occur over HTTP while asynchronous updates are published on Kafka topics
    and relayed to clients via WebSockets.
  contact:
    name: Kayak Simulation Platform Team
    email: eng@kayak-sim.local
servers:
  - url: https://api.kayak-sim.prod
    description: Production API Gateway
  - url: https://api.staging.kayak-sim.local
    description: Staging API Gateway
  - url: http://localhost:8080
    description: Local development gateway
tags:
  - name: Users
    description: User profile, validation, and booking history operations.
  - name: Listings
    description: Search and metadata for flights, hotels, and cars.
  - name: Bookings
    description: Multi-step booking flows across travel verticals.
  - name: Billing
    description: Payments, invoices, and transactional consistency.
  - name: Admin
    description: Administrative management of inventory, users, and reports.
  - name: Concierge
    description: AI concierge interactions, bundles, and watch management.
  - name: Analytics
    description: Insights, traces, and behavioral telemetry access.
  - name: Health
    description: Service readiness and monitoring hooks.
paths:
  /api/v1/users:
    get:
      tags: [Users]
      summary: List users
      description: Retrieve users with optional filters. Requires admin privileges.
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: email
          in: query
          schema:
            type: string
            format: email
          description: Filter by email address.
        - name: state
          in: query
          schema:
            $ref: '#/components/schemas/USStateCode'
          description: Filter by state code.
      responses:
        '200':
          description: Paginated user result set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    post:
      tags: [Users]
      summary: Create user
      description: Register a new user profile. SSN is optional unless the profile type is a property partner.
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: User created successfully.
          headers:
            Location:
              description: URL of the created user resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Duplicate user conflict (e.g., SSN or email already registered).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    get:
      tags: [Users]
      summary: Get user
      description: Retrieve the full profile for a user.
      operationId: getUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      tags: [Users]
      summary: Replace user
      description: Update a user's full profile. Supports changing all attributes.
      operationId: replaceUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Updated user state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags: [Users]
      summary: Delete user
      description: Permanently remove a user and anonymize related analytics records.
      operationId: deleteUser
      responses:
        '204':
          description: User deleted successfully.
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/users/{userId}/compliance/ssn:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    patch:
      tags: [Users, Compliance]
      summary: Provide SSN for property approvals
      description: Users (or admins) can submit SSN information after signup to unlock property listing approvals.
      operationId: upsertUserSsn
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsnUpsertRequest'
      responses:
        '200':
          description: Compliance status updated.
          content:
            application/json:
              schema:
                type: object
                required: [code, data]
                properties:
                  code:
                    type: string
                    example: SUCCESS
                  data:
                    type: object
                    required: [profileType, compliance]
                    properties:
                      profileType:
                        type: string
                        enum: [traveler, property_owner]
                      compliance:
                        $ref: '#/components/schemas/UserCompliance'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/users/{userId}/bookings:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    get:
      tags: [Users, Bookings]
      summary: List user bookings
      operationId: listUserBookings
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BookingStatus'
          description: Filter by booking status.
      responses:
        '200':
          description: Paginated user bookings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      tags: [Users, Bookings]
      summary: Create user booking
      description: |
        Create a booking for a user. The operation is transactional: on downstream failure the
        booking is rolled back and a compensating Kafka message is emitted.
      operationId: createUserBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreateRequest'
      responses:
        '201':
          description: Booking created. Payment remains pending until confirmed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Conflicting booking detected (e.g., double booking of same seat/room).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '424':
          description: Downstream dependency failure; no partial state committed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/users/{userId}/reviews:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    get:
      tags: [Users, Listings]
      summary: List user reviews
      operationId: listUserReviews
      responses:
        '200':
          description: Reviews authored by the user.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/flights/search:
    get:
      tags: [Listings]
      summary: Search flights
      operationId: searchFlights
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 3
            pattern: '^[A-Z]{3}$'
          description: IATA code of the origin airport.
        - name: destination
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 3
            pattern: '^[A-Z]{3}$'
          description: IATA code of the destination airport.
        - name: departureDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: returnDate
          in: query
          schema:
            type: string
            format: date
        - name: maxPrice
          in: query
          schema:
            type: number
            format: float
            minimum: 0
        - name: minPrice
          in: query
          schema:
            type: number
            format: float
            minimum: 0
        - name: cabinClass
          in: query
          schema:
            $ref: '#/components/schemas/FlightClass'
        - name: stops
          in: query
          schema:
            type: integer
            minimum: 0
          description: Maximum number of layovers permitted.
        - name: sort
          in: query
          schema:
            type: string
            enum: [price, duration, departureTime, arrivalTime]
          description: Sort key for results (ascending).
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Flight search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/v1/flights/{flightId}:
    parameters:
      - name: flightId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9]{2,8}$'
    get:
      tags: [Listings]
      summary: Get flight details
      operationId: getFlight
      responses:
        '200':
          description: Flight detail payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flight'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/hotels/search:
    get:
      tags: [Listings]
      summary: Search hotels
      operationId: searchHotels
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            $ref: '#/components/schemas/USStateCode'
        - name: checkIn
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: checkOut
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: minRating
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 5
        - name: maxPrice
          in: query
          schema:
            type: number
            minimum: 0
        - name: amenities
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Hotel search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/v1/hotels/{hotelId}:
    parameters:
      - name: hotelId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
    get:
      tags: [Listings]
      summary: Get hotel details
      operationId: getHotel
      responses:
        '200':
          description: Hotel details payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/cars/search:
    get:
      tags: [Listings]
      summary: Search cars
      operationId: searchCars
      parameters:
        - name: city
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            $ref: '#/components/schemas/USStateCode'
        - name: pickupDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dropoffDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: carType
          in: query
          schema:
            $ref: '#/components/schemas/CarType'
        - name: maxPrice
          in: query
          schema:
            type: number
            minimum: 0
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Car search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/v1/cars/{carId}:
    parameters:
      - name: carId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
    get:
      tags: [Listings]
      summary: Get car details
      operationId: getCar
      responses:
        '200':
          description: Car details payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/bookings:
    get:
      tags: [Bookings]
      summary: Search bookings
      operationId: searchBookings
      parameters:
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
        - name: bookingType
          in: query
          schema:
            $ref: '#/components/schemas/BookingType'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BookingStatus'
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Paginated booking list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResponse'
    post:
      tags: [Bookings]
      summary: Create booking
      description: Creates a booking and kicks off downstream Kafka workflows.
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreateRequest'
      responses:
        '201':
          description: Booking created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Conflicting booking for the same inventory slice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/bookings/{bookingId}:
    parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Bookings]
      summary: Get booking
      operationId: getBooking
      responses:
        '200':
          description: Booking details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      tags: [Bookings]
      summary: Update booking status
      operationId: updateBookingStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdateRequest'
      responses:
        '200':
          description: Booking status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/bookings/{bookingId}/confirm:
    post:
      tags: [Bookings]
      summary: Confirm booking after payment
      description: Marks booking as confirmed once payment succeeds; idempotent.
      operationId: confirmBooking
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Confirmation accepted; final state published asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/payments:
    get:
      tags: [Billing]
      summary: List payments
      operationId: listPayments
      parameters:
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
        - name: bookingId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/PaymentStatus'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Payment records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'
    post:
      tags: [Billing]
      summary: Create payment
      description: Initiate a payment for a booking. Performs idempotency on client token.
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
      responses:
        '201':
          description: Payment initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required / card declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate payment attempt detected for the booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/payments/{paymentId}:
    parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Billing]
      summary: Get payment
      operationId: getPayment
      responses:
        '200':
          description: Payment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/payments/{paymentId}/refunds:
    post:
      tags: [Billing]
      summary: Issue refund
      operationId: refundPayment
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '202':
          description: Refund accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/flights:
    post:
      tags: [Admin, Listings]
      summary: Create flight listing
      operationId: adminCreateFlight
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightUpsertRequest'
      responses:
        '201':
          description: Flight listing created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flight'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Duplicate flight ID or schedule overlap detected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/admin/flights/{flightId}:
    parameters:
      - name: flightId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9]{2,8}$'
    put:
      tags: [Admin, Listings]
      summary: Update flight
      operationId: adminUpdateFlight
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightUpsertRequest'
      responses:
        '200':
          description: Flight updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flight'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags: [Admin, Listings]
      summary: Remove flight
      operationId: adminDeleteFlight
      responses:
        '204':
          description: Flight deleted.
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/hotels:
    post:
      tags: [Admin, Listings]
      summary: Create hotel listing
      operationId: adminCreateHotel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelUpsertRequest'
      responses:
        '201':
          description: Hotel listing created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/v1/admin/hotels/{hotelId}:
    parameters:
      - name: hotelId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
    put:
      tags: [Admin, Listings]
      summary: Update hotel
      operationId: adminUpdateHotel
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelUpsertRequest'
      responses:
        '200':
          description: Hotel updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hotel'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags: [Admin, Listings]
      summary: Remove hotel
      operationId: adminDeleteHotel
      responses:
        '204':
          description: Hotel deleted.
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/cars:
    post:
      tags: [Admin, Listings]
      summary: Create car listing
      operationId: adminCreateCar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarUpsertRequest'
      responses:
        '201':
          description: Car listing created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          $ref: '#/components/responses/ValidationError'
  /api/v1/admin/cars/{carId}:
    parameters:
      - name: carId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
    put:
      tags: [Admin, Listings]
      summary: Update car listing
      operationId: adminUpdateCar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarUpsertRequest'
      responses:
        '200':
          description: Car updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      tags: [Admin, Listings]
      summary: Remove car listing
      operationId: adminDeleteCar
      responses:
        '204':
          description: Car deleted.
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    patch:
      tags: [Admin, Users]
      summary: Modify user access
      operationId: adminModifyUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserPatchRequest'
      responses:
        '200':
          description: User access updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/reports/revenue:
    get:
      tags: [Admin, Analytics]
      summary: Revenue report
      operationId: getRevenueReport
      security:
        - bearerAuth: []
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
            minimum: 2000
        - name: groupBy
          in: query
          schema:
            type: string
            enum: [city, provider, property, month]
            default: city
        - name: bookingType
          in: query
          schema:
            $ref: '#/components/schemas/BookingType'
      responses:
        '200':
          description: Aggregated revenue metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueReportResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/admin/reports/providers:
    get:
      tags: [Admin, Analytics]
      summary: Top providers report
      operationId: getTopProviders
      security:
        - bearerAuth: []
      parameters:
        - name: month
          in: query
          required: true
          schema:
            type: string
            pattern: '^(19|20)\\d{2}-(0[1-9]|1[0-2])$'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Provider performance snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderPerformanceResponse'
  /api/v1/analytics/traces/users:
    get:
      tags: [Analytics]
      summary: Retrieve user navigation traces
      operationId: getUserTraces
      parameters:
        - name: cohort
          in: query
          schema:
            type: string
            description: Cohort key (e.g., City=San Jose,CA).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
      responses:
        '200':
          description: Trace dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTraceResponse'
  /api/v1/concierge/sessions:
    post:
      tags: [Concierge]
      summary: Start concierge session
      operationId: createConciergeSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeSessionCreateRequest'
      responses:
        '201':
          description: Session started; agent conversation seeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeSession'
  /api/v1/concierge/sessions/{sessionId}:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Concierge]
      summary: Get concierge session
      operationId: getConciergeSession
      responses:
        '200':
          description: Session state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeSession'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /api/v1/concierge/sessions/{sessionId}/messages:
    post:
      tags: [Concierge]
      summary: Send message to concierge
      operationId: sendConciergeMessage
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeMessageRequest'
      responses:
        '200':
          description: Agent response and follow-up actions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeMessageResponse'
        '409':
          description: A previous request is still processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/concierge/sessions/{sessionId}/bundles:
    get:
      tags: [Concierge]
      summary: Retrieve recommended bundles
      operationId: getConciergeBundles
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 3
      responses:
        '200':
          description: Bundled recommendations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleListResponse'
  /api/v1/concierge/sessions/{sessionId}/watches:
    post:
      tags: [Concierge]
      summary: Create price/inventory watch
      operationId: createConciergeWatch
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchCreateRequest'
      responses:
        '201':
          description: Watch registered; notifications sent via WebSocket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watch'
  /api/v1/concierge/sessions/{sessionId}/watches/{watchId}:
    delete:
      tags: [Concierge]
      summary: Cancel price/inventory watch
      operationId: deleteConciergeWatch
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: watchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Watch cancelled.
        '404':
          $ref: '#/components/responses/NotFoundError'
  /health/live:
    get:
      tags: [Health]
      summary: Liveness probe
      operationId: livenessProbe
      responses:
        '200':
          description: Service is alive.
  /health/ready:
    get:
      tags: [Health]
      summary: Readiness probe
      operationId: readinessProbe
      responses:
        '200':
          description: Service is ready to receive traffic.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number for pagination (1-indexed).
    PageSizeParam:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 25
      description: Number of items to return per page.
    UserIdPath:
      name: userId
      in: path
      required: true
      description: Unique user identifier (UUID).
      schema:
        type: string
        format: uuid
  responses:
    ValidationError:
      description: Input validation failed; see details array.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
    NotFoundError:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedError:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ForbiddenError:
      description: Caller lacks necessary permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    PaginationMetadata:
      type: object
      required: [page, pageSize, totalItems, totalPages]
      properties:
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 200
        totalItems:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error description.
        correlationId:
          type: string
          format: uuid
          description: Trace ID for support teams.
        details:
          type: array
          items:
            type: string
          description: Additional error context.
    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            errors:
              type: array
              description: Field level validation failures.
              items:
                type: object
                required: [field, message]
                properties:
                  field:
                    type: string
                  message:
                    type: string
                  rejectedValue:
                    description: The value that failed validation.
    Address:
      type: object
      required: [line1, city, state, zipCode]
      properties:
        line1:
          type: string
          maxLength: 255
        line2:
          type: string
          maxLength: 255
        city:
          type: string
          maxLength: 120
        state:
          $ref: '#/components/schemas/USStateCode'
        zipCode:
          type: string
          pattern: '^\\d{5}(-\\d{4})?$'
          description: Supports '#####' or '#####-####'.
    PaymentInstrument:
      type: object
      required: [paymentType, cardLast4]
      properties:
        paymentType:
          type: string
          enum: [credit_card, debit_card, paypal, apple_pay, google_pay]
        cardBrand:
          type: string
          example: VISA
        cardLast4:
          type: string
          pattern: '^\\d{4}$'
        expirationMonth:
          type: integer
          minimum: 1
          maximum: 12
        expirationYear:
          type: integer
          minimum: 2024
        billingAddress:
          $ref: '#/components/schemas/Address'
    Review:
      type: object
      required: [id, userId, listingType, listingId, rating, title, body, createdAt]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        listingType:
          type: string
          enum: [flight, hotel, car]
        listingId:
          type: string
        rating:
          type: number
          minimum: 1
          maximum: 5
        title:
          type: string
          maxLength: 120
        body:
          type: string
          maxLength: 2000
        createdAt:
          type: string
          format: date-time
    User:
      type: object
      required:
        - id
        - firstName
        - lastName
        - email
        - phoneNumber
        - address
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        ssn:
          type: string
          pattern: '^\\d{3}-\\d{2}-\\d{4}$'
          nullable: true
          description: Optional SSN stored for property partners. Travelers do not provide this.
        profileType:
          type: string
          enum: [traveler, property_owner]
          default: traveler
        requiresSsn:
          type: boolean
        hasSsnOnFile:
          type: boolean
        compliance:
          $ref: '#/components/schemas/UserCompliance'
        partnerDetails:
          $ref: '#/components/schemas/PartnerProfile'
        firstName:
          type: string
          maxLength: 80
        lastName:
          type: string
          maxLength: 80
        email:
          type: string
          format: email
        phoneNumber:
          type: string
          pattern: '^\\+1-\\d{3}-\\d{3}-\\d{4}$'
          description: Normalized US phone number (+1-XXX-XXX-XXXX).
        address:
          $ref: '#/components/schemas/Address'
        profileImageUrl:
          type: string
          format: uri
        creditCards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentInstrument'
        loyaltyTier:
          type: string
          enum: [none, silver, gold, platinum]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        preferences:
          type: object
          additionalProperties: true
    UserCompliance:
      type: object
      properties:
        requiresSsn:
          type: boolean
          description: Indicates whether the user must provide an SSN before managing properties.
        ssnOnFile:
          type: boolean
          description: True when an SSN has been provided.
        verifiedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the SSN was last verified.
    PartnerProfile:
      type: object
      description: Business metadata captured for property partners.
      properties:
        companyName:
          type: string
        contactName:
          type: string
        contactEmail:
          type: string
          format: email
        portfolioSize:
          type: integer
          minimum: 0
          nullable: true
        website:
          type: string
          format: uri
    UserCreateRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - phoneNumber
        - address
      properties:
        ssn:
          type: string
          pattern: '^\\d{3}-\\d{2}-\\d{4}$'
          nullable: true
          description: Optional during signup. Required later only for property partners.
        profileType:
          type: string
          enum: [traveler, property_owner]
          default: traveler
          description: Travelers can skip SSN. Property partners must supply SSN before listing approvals.
        firstName:
          type: string
          maxLength: 80
        lastName:
          type: string
          maxLength: 80
        email:
          type: string
          format: email
        phoneNumber:
          type: string
          pattern: '^\\+1-\\d{3}-\\d{3}-\\d{4}$'
        address:
          $ref: '#/components/schemas/Address'
        profileImageUrl:
          type: string
          format: uri
        partnerProfile:
          $ref: '#/components/schemas/PartnerProfile'
          description: Required when profileType is `property_owner`.
        paymentInstruments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentInstrument'
        marketingOptIn:
          type: boolean
          default: false
    UserUpdateRequest:
      allOf:
        - $ref: '#/components/schemas/UserCreateRequest'
      required:
        - firstName
        - lastName
        - email
        - phoneNumber
        - address
    SsnUpsertRequest:
      type: object
      required: [ssn]
      properties:
        ssn:
          type: string
          pattern: '^\\d{3}-\\d{2}-\\d{4}$'
          description: SSN formatted as XXX-XX-XXXX.
    UserListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    FlightClass:
      type: string
      enum: [economy, premium_economy, business, first]
    Flight:
      type: object
      required:
        - id
        - airline
        - departureAirport
        - arrivalAirport
        - departureTime
        - arrivalTime
        - durationMinutes
        - totalSeats
        - availableSeats
        - basePrice
        - fareClass
        - rating
      properties:
        id:
          type: string
          example: AA1234
        airline:
          type: string
        departureAirport:
          type: string
          pattern: '^[A-Z]{3}$'
        arrivalAirport:
          type: string
          pattern: '^[A-Z]{3}$'
        departureTime:
          type: string
          format: date-time
        arrivalTime:
          type: string
          format: date-time
        durationMinutes:
          type: integer
          minimum: 1
        fareClass:
          $ref: '#/components/schemas/FlightClass'
        basePrice:
          $ref: '#/components/schemas/Money'
        baggagePolicy:
          type: string
        totalSeats:
          type: integer
          minimum: 1
        availableSeats:
          type: integer
          minimum: 0
        rating:
          type: number
          minimum: 0
          maximum: 5
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        metadata:
          type: object
          additionalProperties: true
    FlightUpsertRequest:
      type: object
      required:
        - id
        - airline
        - departureAirport
        - arrivalAirport
        - departureTime
        - arrivalTime
        - durationMinutes
        - totalSeats
        - basePrice
      properties:
        id:
          type: string
          pattern: '^[A-Z0-9]{2,8}$'
        airline:
          type: string
        aircraftType:
          type: string
        departureAirport:
          type: string
          pattern: '^[A-Z]{3}$'
        arrivalAirport:
          type: string
          pattern: '^[A-Z]{3}$'
        departureTime:
          type: string
          format: date-time
        arrivalTime:
          type: string
          format: date-time
        durationMinutes:
          type: integer
          minimum: 1
        fareClass:
          $ref: '#/components/schemas/FlightClass'
        totalSeats:
          type: integer
          minimum: 1
        availableSeats:
          type: integer
          minimum: 0
        basePrice:
          $ref: '#/components/schemas/Money'
        policies:
          type: object
          additionalProperties: true
    FlightSearchResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Flight'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    Hotel:
      type: object
      required:
        - id
        - name
        - address
        - starRating
        - totalRooms
        - pricePerNight
        - amenities
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        neighborhood:
          type: string
        starRating:
          type: number
          minimum: 0
          maximum: 5
        totalRooms:
          type: integer
          minimum: 1
        roomTypes:
          type: array
          items:
            $ref: '#/components/schemas/RoomType'
        pricePerNight:
          $ref: '#/components/schemas/Money'
        amenities:
          type: array
          items:
            type: string
        rating:
          type: number
          minimum: 0
          maximum: 5
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        images:
          type: array
          items:
            type: string
            format: uri
    HotelUpsertRequest:
      type: object
      required:
        - id
        - name
        - address
        - starRating
        - totalRooms
        - pricePerNight
      properties:
        id:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        starRating:
          type: number
          minimum: 0
          maximum: 5
        totalRooms:
          type: integer
          minimum: 1
        roomTypes:
          type: array
          items:
            $ref: '#/components/schemas/RoomType'
        pricePerNight:
          $ref: '#/components/schemas/Money'
        amenities:
          type: array
          items:
            type: string
        policies:
          type: object
          additionalProperties: true
    HotelSearchResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Hotel'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    RoomType:
      type: object
      required: [code, description, capacity, pricePerNight, refundable]
      properties:
        code:
          type: string
        description:
          type: string
        capacity:
          type: integer
          minimum: 1
        beds:
          type: integer
          minimum: 1
        pricePerNight:
          $ref: '#/components/schemas/Money'
        refundable:
          type: boolean
    Car:
      type: object
      required:
        - id
        - provider
        - model
        - carType
        - transmission
        - seats
        - pricePerDay
        - availabilityStatus
      properties:
        id:
          type: string
        provider:
          type: string
        model:
          type: string
        year:
          type: integer
          minimum: 1990
        carType:
          $ref: '#/components/schemas/CarType'
        transmission:
          type: string
          enum: [automatic, manual]
        seats:
          type: integer
          minimum: 1
        pricePerDay:
          $ref: '#/components/schemas/Money'
        rating:
          type: number
          minimum: 0
          maximum: 5
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        availabilityStatus:
          type: string
          enum: [available, reserved, maintenance]
    CarUpsertRequest:
      type: object
      required:
        - id
        - provider
        - model
        - year
        - carType
        - transmission
        - seats
        - pricePerDay
      properties:
        id:
          type: string
          pattern: '^[A-Z0-9\\-]{3,32}$'
        provider:
          type: string
        model:
          type: string
        year:
          type: integer
          minimum: 1990
        carType:
          $ref: '#/components/schemas/CarType'
        transmission:
          type: string
          enum: [automatic, manual]
        seats:
          type: integer
          minimum: 1
        pricePerDay:
          $ref: '#/components/schemas/Money'
        policies:
          type: object
          additionalProperties: true
    CarType:
      type: string
      enum: [suv, sedan, compact, luxury, convertible, van, truck]
    CarSearchResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Car'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    Money:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: number
          format: float
          minimum: 0
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
    BookingType:
      type: string
      enum: [flight, hotel, car]
    BookingStatus:
      type: string
      enum: [PENDING, CONFIRMED, COMPLETED, CANCELLED, FAILED]
    Booking:
      type: object
      required:
        - id
        - userId
        - bookingType
        - status
        - createdAt
        - updatedAt
        - itinerary
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        bookingType:
          $ref: '#/components/schemas/BookingType'
        status:
          $ref: '#/components/schemas/BookingStatus'
        itinerary:
          $ref: '#/components/schemas/Itinerary'
        price:
          $ref: '#/components/schemas/Money'
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    BookingCreateRequest:
      type: object
      required:
        - userId
        - bookingType
        - itinerary
        - quoteExpiresAt
      properties:
        userId:
          type: string
          format: uuid
        bookingType:
          $ref: '#/components/schemas/BookingType'
        itinerary:
          $ref: '#/components/schemas/Itinerary'
        quoteId:
          type: string
        quoteExpiresAt:
          type: string
          format: date-time
        paymentMethodId:
          type: string
          format: uuid
        metadata:
          type: object
          additionalProperties: true
    BookingUpdateRequest:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/BookingStatus'
        cancellationReason:
          type: string
          maxLength: 500
    BookingListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Booking'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    Itinerary:
      type: object
      required: [segments]
      properties:
        segments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ItinerarySegment'
        guests:
          type: array
          items:
            $ref: '#/components/schemas/Guest'
    ItinerarySegment:
      type: object
      required: [type, referenceId, startDateTime, endDateTime]
      properties:
        type:
          type: string
          enum: [flight, hotel, car]
        referenceId:
          type: string
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        fareClass:
          $ref: '#/components/schemas/FlightClass'
        roomTypeCode:
          type: string
        carType:
          $ref: '#/components/schemas/CarType'
        seatAssignments:
          type: array
          items:
            type: string
        amenityCodes:
          type: array
          items:
            type: string
    Guest:
      type: object
      required: [firstName, lastName]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phoneNumber:
          type: string
          pattern: '^\\+1-\\d{3}-\\d{3}-\\d{4}$'
    PaymentStatus:
      type: string
      enum: [PENDING, AUTHORIZED, SUCCEEDED, FAILED, REFUNDED]
    Payment:
      type: object
      required:
        - id
        - bookingId
        - userId
        - status
        - amount
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        bookingId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount:
          $ref: '#/components/schemas/Money'
        paymentMethod:
          $ref: '#/components/schemas/PaymentInstrument'
        transactionReference:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        invoiceUrl:
          type: string
          format: uri
    PaymentCreateRequest:
      type: object
      required:
        - bookingId
        - userId
        - amount
        - paymentMethodId
      properties:
        bookingId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        amount:
          $ref: '#/components/schemas/Money'
        paymentMethodId:
          type: string
          format: uuid
        idempotencyKey:
          type: string
          maxLength: 50
        metadata:
          type: object
          additionalProperties: true
    PaymentListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    RefundRequest:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        reason:
          type: string
    AdminUserPatchRequest:
      type: object
      properties:
        role:
          type: string
          enum: [user, moderator, admin, suspended]
        enforcePasswordReset:
          type: boolean
        notes:
          type: string
          maxLength: 500
    RevenueReportResponse:
      type: object
      required: [generatedAt, granularity, items]
      properties:
        generatedAt:
          type: string
          format: date-time
        granularity:
          type: string
          enum: [city, provider, property, month]
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          default: USD
        items:
          type: array
          items:
            type: object
            required: [key, revenue, bookings]
            properties:
              key:
                type: string
              revenue:
                $ref: '#/components/schemas/Money'
              bookings:
                type: integer
                minimum: 0
              averageOrderValue:
                $ref: '#/components/schemas/Money'
    ProviderPerformanceResponse:
      type: object
      required: [generatedAt, providers]
      properties:
        generatedAt:
          type: string
          format: date-time
        providers:
          type: array
          items:
            type: object
            required: [providerId, providerName, unitsSold, revenue]
            properties:
              providerId:
                type: string
              providerName:
                type: string
              unitsSold:
                type: integer
                minimum: 0
              revenue:
                $ref: '#/components/schemas/Money'
              month:
                type: string
                pattern: '^(19|20)\\d{2}-(0[1-9]|1[0-2])$'
    UserTraceResponse:
      type: object
      required: [generatedAt, traces]
      properties:
        generatedAt:
          type: string
          format: date-time
        traces:
          type: array
          items:
            type: object
            required: [userId, steps]
            properties:
              userId:
                type: string
                format: uuid
              cohort:
                type: string
              steps:
                type: array
                items:
                  type: object
                  required: [timestamp, event, metadata]
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                    event:
                      type: string
                    metadata:
                      type: object
                      additionalProperties: true
    ConciergeSession:
      type: object
      required:
        - id
        - userId
        - status
        - createdAt
        - context
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, idle, completed, archived]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        context:
          type: object
          additionalProperties: true
        watches:
          type: array
          items:
            $ref: '#/components/schemas/Watch'
    ConciergeSessionCreateRequest:
      type: object
      required:
        - userId
        - initialMessage
      properties:
        userId:
          type: string
          format: uuid
        initialMessage:
          type: string
          maxLength: 500
        travelWindow:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        budget:
          $ref: '#/components/schemas/Money'
    ConciergeMessageRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          maxLength: 1000
        clarifyOnly:
          type: boolean
          default: false
    ConciergeMessageResponse:
      type: object
      required: [sessionId, reply, actions, updatedContext]
      properties:
        sessionId:
          type: string
          format: uuid
        reply:
          type: string
        actions:
          type: array
          items:
            type: object
            required: [type]
            properties:
              type:
                type: string
                enum: [fetch_deals, set_watch, update_preferences, none]
              payload:
                type: object
                additionalProperties: true
        updatedContext:
          type: object
          additionalProperties: true
        bundles:
          $ref: '#/components/schemas/BundleListResponse'
    BundleListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TravelBundle'
    TravelBundle:
      type: object
      required:
        - bundleId
        - fitScore
        - totalPrice
        - summary
        - flight
        - hotel
      properties:
        bundleId:
          type: string
          format: uuid
        fitScore:
          type: number
          minimum: 0
          maximum: 1
        totalPrice:
          $ref: '#/components/schemas/Money'
        summary:
          type: string
        whyThis:
          type: string
          maxLength: 120
        whatToWatch:
          type: string
          maxLength: 80
        flight:
          $ref: '#/components/schemas/Flight'
        hotel:
          $ref: '#/components/schemas/Hotel'
        watchId:
          type: string
          format: uuid
    Watch:
      type: object
      required:
        - id
        - sessionId
        - createdAt
        - criteria
        - status
      properties:
        id:
          type: string
          format: uuid
        sessionId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, triggered, cancelled, expired]
        criteria:
          $ref: '#/components/schemas/WatchCriteria'
    WatchCriteria:
      type: object
      required: [targetBundleId, thresholdType, value]
      properties:
        targetBundleId:
          type: string
          format: uuid
        thresholdType:
          type: string
          enum: [price_drop, inventory_below]
        value:
          type: number
          minimum: 0
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
    WatchCreateRequest:
      type: object
      required:
        - targetBundleId
        - thresholdType
        - value
      properties:
        targetBundleId:
          type: string
          format: uuid
        thresholdType:
          type: string
          enum: [price_drop, inventory_below]
        value:
          type: number
          minimum: 0
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
    USStateCode:
      type: string
      enum:
        - AL
        - AK
        - AZ
        - AR
        - CA
        - CO
        - CT
        - DE
        - FL
        - GA
        - HI
        - ID
        - IL
        - IN
        - IA
        - KS
        - KY
        - LA
        - ME
        - MD
        - MA
        - MI
        - MN
        - MS
        - MO
        - MT
        - NE
        - NV
        - NH
        - NJ
        - NM
        - NY
        - NC
        - ND
        - OH
        - OK
        - OR
        - PA
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VT
        - VA
        - WA
        - WV
        - WI
        - WY
      description: Two-letter postal abbreviation for US states.
    DealEvent:
      type: object
      required:
        - eventId
        - occurredAt
        - topic
        - payload
      properties:
        eventId:
          type: string
          format: uuid
        occurredAt:
          type: string
          format: date-time
        topic:
          type: string
        payload:
          type: object
          required: [dealId, score, tags, price, listingType]
          properties:
            dealId:
              type: string
              format: uuid
            listingType:
              type: string
              enum: [flight, hotel]
            listingId:
              type: string
            score:
              type: integer
              minimum: 0
              maximum: 100
            tags:
              type: array
              items:
                type: string
            price:
              $ref: '#/components/schemas/Money'
            availability:
              type: integer
              minimum: 0
            promotionEndsAt:
              type: string
              format: date-time
            summary:
              type: string
              maxLength: 160
webhooks:
  deal.events:
    post:
      summary: Deal events stream
      description: Kafka-backed webhook representing deal updates propagated to external listeners.
      operationId: onDealEvent
      headers:
        x-kafka-topic:
          description: Kafka topic carrying the event.
          schema:
            type: string
            example: deals.tagged
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DealEvent'
      responses:
        '200':
          description: Event acknowledged.
